@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 252 20% 95.1%; /* #F1F0F5 */
    --foreground: 250 40% 10%;
    --card: 0 0% 100%;
    --card-foreground: 250 40% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 250 40% 10%;
    --primary: 250 60% 50%; /* #4C33CC */
    --primary-foreground: 0 0% 100%;
    --secondary: 219 70% 65%; /* #6792E4 */
    --secondary-foreground: 0 0% 100%;
    --muted: 252 10% 90%;
    --muted-foreground: 250 20% 45%;
    --accent: 219 70% 65%; /* #6792E4 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 250 20% 85%;
    --input: 250 20% 85%;
    --ring: 250 60% 50%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 250 40% 5%;
    --foreground: 0 0% 98%;
    --card: 250 40% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 250 40% 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 250 60% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 219 70% 65%;
    --secondary-foreground: 0 0% 100%;
    --muted: 250 40% 15%;
    --muted-foreground: 250 20% 65%;
    --accent: 219 70% 65%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 250 40% 15%;
    --input: 250 40% 15%;
    --ring: 250 60% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline font-bold;
  }
}